body {
	font-family: 'Lato', sans-serif;
	margin: 0;
}

html {
	font-weight: 100;
}
	
.nav-btn,
.nav-btn:link,
.nav-btn:visited {
	display: block;
	position: absolute;
	top: 10px;
	right: 10px;
	height: 40px;
	width: 40px;
	background: rgba(0,0,0,0) url('../img/nav-icon.svg') no-repeat center center;
}

.nav-btn:hover,
.nav-btn:focus,
.nav-btn:active {
	background-color: rgba(0,0,0,0);
}

.nav a,
.nav a:link,
.nav a:visited {
	display: block;
	text-align: center;
	padding: 1.5em;
	color: #FFF;
	background-color: rgba(0,0,0,0);
	text-decoration: none;
	border: none;
}

.nav {
	margin: -1em 0;
	width: 100%;
}

.nav a:hover,
.nav a:active {
	color: rgba(0,0,0,1.00);
}

ul {
	list-style-type:none;
	margin-bottom: 0;
	padding: 0;
}

.nav-top {
	display: none;
}

.nav-top[data-state="expanded"] {
	display: block;
}

.hide-text {
	display: block;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.top {
	background: transparent  url('http://placehold.it/1500x1500') no-repeat center top;
	background-size: cover;
}

.logo {
	width: 240px;
	display: block;
	margin: auto;
	padding: 20em 0px; 
}


.slides img {
	width: 100%;
}

.flex-caption {
	position: absolute;
	width: 100%;
	color: #FFF;
	background-color: rgba(0,0,0,.35);
	margin: 0;
	padding: 1rem 0;
	text-align: center;
	font-weight: 100;
}

.flex-direction-nav a {
	color: white;
}

.flex-control-paging li a {
	background: white;
}

.flex-control-paging li a.flex-active {
	background: rgba(109,109,109,1);
}

.flex-control-paging li a:hover {
	background: rgba(183,183,183,1.00);
}

.error {
	text-align: center;
	background: transparent  url('../img/background.jpg') no-repeat center top;
	background-size: cover;
	display: block;
	margin: auto;
	padding: 20em 0px; 
}