/*-------------------------

NOTICE: I WILL INCLUDE A TYPE AND GRID SYSTEM FOR THE ACTUAL DEADLINE.

NOTICE: I HAVE UNKNOWN ERRORS DUE TO THE FLEXSLIDER AND VIEWPORTS IN THE CSS. LET ME KNOW IF THERE IS ANY WAY TO FIX IT.

HELP WANTED FOR NAVIGATION SECTION: I'd prefer if the navigation closed when selecting a page, but it just stays open. Cannot figure out how to uncover navigation menu when scrolling to this slideshow section.

HELP WANTED FOR THE PORTFOLIO SECTION: Slideshow is unable to move on mobile. I'm not sure why and have looked it over.

-------------------------*/


@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

html{
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	text-size-adjust: 100%;
	font-family: 'Lato', sans-serif;
}

body {
	margin: 0;
}

h1, h2, h3, h4, h5, h6,
p, ul, ol, dl, dd, figure,
blockquote, details, hr,
fieldset, pre, table {
  margin: 0;
  font-weight: 100;
}

ul {
	list-style-type:none;
	padding: 0;
}

img {
	width: 100%;
}

.error {
	text-align: center;
	background: transparent  url('../img/background.jpg') no-repeat center top;
	background-size: cover;
	display: block;
	margin: auto;
	padding: 20em 0px; 
}

/*-------------------------LOGO SECTION-------------------------*/

.nav-logo {
	position: fixed;
	background-color: rgba(255,255,255,.75);
	width: 100%;
	height: 4em;
}

.nav-logo img {
	width: 100px;
	padding: .75em 0 0 1em;
}

.nav-logo img:hover {
	opacity: .25;
}

/*-------------------------NAVIGATION SECTION-------------------------*/

.nav {
	margin: 0;
	width: 100%;
	position: fixed;
}

.nav-btn,
.nav-btn:link,
.nav-btn:visited {
	position: fixed;
	top: 0px;
	right: 0px;
	height: 60px;
	width: 60px;
	background: rgba(0,0,0,0) url('../img/nav-icon.svg') no-repeat right center;
}

.nav-btn:hover,
.nav-btn:active {
	opacity: .5;
}

.nav a,
.nav a:link,
.nav a:visited {
	display: block;
	text-align: center;
	padding: 1em;
	top: 2em;
	color: #000;
	text-decoration: none;
	border: none;
	background-color: rgba(255,255,255,.75);
}

.nav a:hover,
.nav a:active {
	color: rgba(255,255,255,1.00);
	background-color: rgba(0,0,0,.75);
}

.nav-top {
	display: none;
	top: 4em;
}

.nav-top[data-state="expanded"] {
	display: block;
}

.hide-text {
	display: block;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

/*-------------------------HOME SECTION-------------------------*/

.home {
	text-align: center;
	background: transparent url('../img/hk.jpg') no-repeat center center;
	background-size: cover;
	padding: 10em 0;
}

.home img {
	width: 225px;
}

/*-------------------------ABOUT SECTION-------------------------*/


.about {
	background: transparent  url('../img/noisy.jpg') no-repeat center top;
	background-size: cover;
	padding: 6em 0 2em;
}

.about img {
	width: 80px;
	display: block;
	margin: auto;
}

.about h1 {
	font-weight: 400;
}

.about h4 {
	text-align: center;
	font-size: .875em;
	padding-bottom: 4em;
}

.about p {
	display: block;
	margin: auto;
	width: 70%;
	font-size: .875em;
	padding-top: 1.5em;
	line-height: 1.5em;
}

.intro {
	text-align: center;
	padding: 0 0 3em;
}

.intro h1 {
	font-size: 1.25em;
}

/*-------------------------PORTFOLIO SECTION-------------------------*/

.flexslider {
	width: 100%;
	position: absolute;
}

.caption {
	bottom: 1.5rem;
	color: black;
	background-color: rgba(0,0,0,0);
	padding: 1rem;
	text-align: center;
}

.portfolio h1 {
	text-align: center;
	padding: 3em;
	background-color: rgba(0,0,0,.75);
	color: rgba(255,255,255,1.00);
}

/*-------------------------CONTACT SECTION-------------------------*/

.contact {
	text-align: center;
	padding: 3em 0 0;
}
.contact img {
	width: 70px;
	opacity: .5;
}

.contact img:hover {
	opacity: .25;
}

.contact h1 {
	padding: .75em 0;
}

.contact h4 {
	font-size: 1em;
	padding: .25em 0;
}

.contact p {
	font-size: .75em;
	padding: 2em;
	margin-top: 2em;
	background-color: rgba(0,0,0,.5);
}

/*-------------------------SOCIAL LINKS SECTION-------------------------*/

.social {
	width: 100%;
}

.social li {
	display: inline-block;
	padding-top: 1.25em;
}

.social li a,
.social li a:link,
.social li a:visited {
	display: inline-block;
	color: rgba(0,0,0,1.00);
	width: 20px;
}

.social li a:hover,
.social li a:active,
.social li a:focus {
	color: rgba(255,255,255,1.00);
}

/*-------------------------GRID-------------------------*/

.grid {
	overflow: hidden;
}

.unit {
	float: left;
}

.unit-s-1 {
	width: 100%;
}

@media only screen and (min-width: 35em) {
	.unit-m-1 {
		width: 100%;
	}
	
	.unit-m-1-2 {
		width: 50%;
	}
	
	.unit-m-1-3 {
		width: 33.3333%;
	}
		
	.nav li {
		display: inline-block;
		padding-top: .25em;
	}
	
	.nav-btn {
		display: none;
	}
	
	.nav-top {
		display: block;
		top: 0;
	}
	
	.nav ul {
		float: right;
		padding-right: 1em;
	}
	
	.nav a,
	.nav a:link,
	.nav a:visited {
		margin: .15em .5em;
		padding: 1em 0 .5em;
		background: rgba(0,0,0,0);
	}
	
	.nav a:hover,
	.nav a:active {	
    	border-bottom: 1px solid rgba(255,255,255,1.00);
	}
	
	.home {
		padding: 19em 0; 
	}
}

@media only screen and (min-width: 60em) {
	.unit-l-1-4 {
		width: 25%;
	}
	.unit-l-1-2 {
		width: 50%;
	}
	
	.unit-l-1-3 {
		width: 33.3333%;
	}
	
	.about p {
		width: 60%;
		font-size: 1em;
	}
}
