body {
	font-family: 'Lato', sans-serif;
	margin: 0;
}
	
.nav-btn,
.nav-btn:link,
.nav-btn:visited {
	display: block;
	position: absolute;
	top: 30px;
	right: 30px;
	height: 40px;
	width: 40px;
	background: rgba(0,0,0,0) url('../img/nav-icon.svg') no-repeat center center;
}

.nav-btn:hover,
.nav-btn:focus,
.nav-btn:active {
	background-color: rgba(0,0,0,0);
}

.nav a,
.nav a:link,
.nav a:visited {
	display: block;
	text-align: center;
	padding: 1em;
	color: #FFF;
	background-color: rgba(0,0,0,.25);
	text-decoration: none;
	border: none;
}

.nav a:hover,
.nav a:active {
	color: rgba(0,0,0,1.00);
}

.nav-top {
	display: none;
	font-weight: 100;
}

.nav-top[data-state="expanded"] {
	display: block;
}

.hide-text {
	display: block;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.top {
	background: transparent  url(../img/background.jpg) no-repeat center top;
	background-size: cover;
}

.logo {
	width: 240px;
	display: block;
	margin: auto;
	padding: 10em 0px; 
}

h1 {
	font-weight: 700;
}

h2,
h3 {
	font-weight: 300;
}

.slides img {
	width: 100%;
}

.photography {
	max-width: 600px;
}

.flex-caption {
	position: absolute;
	bottom: 1.5rem;
	color: #FFF;
	background-color: rgba(0,0,0,.25);
	margin: 0;
	padding: 1rem;
	text-align: center;
	font-weight: 100;
}

.flex-direction-nav a {
	color: white;
}

.flex-control-paging li a {
	background: white;
}

.flex-control-paging li a.flex-active {
	background: rgba(109,109,109,1);
}

.flex-control-paging li a:hover {
	background: rgba(183,183,183,1.00);
}