@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

html{
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	text-size-adjust: 100%;
	font-family: "Space Mono", monospace;
	background-color: rgba(255,255,255,1.00);
}

body {
	margin: 0;
}

h1, h2, h3, h4, h5, h6,
p, ul, ol, dl, dd, figure,
blockquote, details, hr,
fieldset, pre, table {
  margin: 0;
  font-weight: 300;
}

ul {
	list-style-type:none;
	padding: 0;
}

.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 200;
  font-style: normal;
	opacity: .75;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}

/*-------------------------404 SECTION-------------------------*/

.error {
	text-align: center;
	display: block;
	margin: auto;
	padding: 22em 3em 26em;
}

.error h2 {
	font-weight: 100; 
	font-size: .9em;
	color: #1C1C1C;
	padding-top: 3em;
	letter-spacing: 1px;
}

.error img {
	margin: auto;
	max-width: 600px;
}


.error a {
	color: #1C1C1C;
}


.error a:visited {
	color: #1C1C1C;
}

.error a:hover {
	color: #1C1C1C;
}

/*-------------------------LOGO SECTION------------------------*/

.logo {
	position: fixed;
	width: 100%;
	height: 30em;
	z-index: 200;
	top: 0em;
	background: linear-gradient(rgba((0,0,0,.2)), rgba(0,0,0,0));
}

.logo img {
	display: block;
	margin: auto;
	width: 120px;
	float: right;
	opacity: 1;
	padding-top: 3em;
	padding-right: 2.5em;
	z-index: 500;
	
}

.logo img:hover {
	opacity: .25;
	transition: opacity 500ms ease-in;
	-moz-transition: opacity 500ms ease-in;
	-webkit-transition: opacity 500ms ease-in;
	-ms-transition: opacity 500ms ease-in;
	-o-transition: opacity 500ms ease-in;
}

/*-------------------------NAVIGATION SECTION-------------------------*/

.top {
	z-index: 2000;
}

.hide-text {
	display: block;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.nav a {
  text-decoration: none;
  color: rgba(255,255,255,1.00);
  text-align: center;
  transition: color 0.8s ease;
  font-size: .9em;
  letter-spacing: 2px;
  margin: 0em;
  transition: margin .5s ease-in-out;
  -webkit-transition: margin .5s ease-in-out;
  -moz-transition: margin .5s ease-in-out;
  -ms-transition: margin .5s ease-in-out;
  -o-transition: margin .5s ease-in-out;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

.nav a:hover {
  margin: 0em 0em 0em .75em;
  font-weight: 800;
}

#nav li {
  margin: 0 0 0 .37em;
  padding: .75em 0 .5em 2em;
}

#menuToggle {
  display: block;
  position: fixed;
  top: 67px;
  left: 14px;
  width: 100%;
  z-index: 300;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
  -moz-touch-callout: none;
  -ms-touch-callout: none;
  -o-touch-callout: none;
  touch-callout: none;
}

/*
 * Just a quick hamburger
 */
 
#menuToggle span
{
  display: block;
  width: 20px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;

  background-color: #1C1C1C;
  border-radius: 3px;
  
  z-index: 1;
  
  transition: transform 0.8s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.8s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.8s ease;
}

#menuToggle span:first-child
{
  transform:rotate(0deg) translate(0px, 0px);
}

#menuToggle span:nth-last-child(2)
{
  transform:rotate(0deg) translate(0px, 0px);
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(495deg) translate(2px, -2px);
  background: rgba(255,255,255,1.00);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-315deg) translate(-2.75px, -2.75px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#nav
{
  width: 100%;
  margin: -100px 0 0 -55px;
  padding: 15px;
  padding-left: 48px;
  padding-top: 180px;
  padding-bottom: 300px;
  background: linear-gradient(rgba(7,7,7,1), rgba(7,7,7,0));
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: none;
}

/*-------------------------PORTFOLIO SECTION-------------------------*/

.portfolio {
	text-align: center;
	line-height: 0;
	-webkit-column-count: 2;
	-webkit-column-gap: 0px;
	-moz-column-count: 2;
	-moz-column-gap: 0px;
	column-count: 2;
	column-gap: 0px;
	padding: 9em 1.5em 0em;
}

.portfolio img {
	width: 100%;
}

.work li {
	padding: 0em 0em 1.5em;
}

/*-------------------------BIO SECTION-------------------------*/

.bio {
	text-align: centre;
	padding: 8em 1.5em 4em;
	letter-spacing: 1px;
	-webkit-column-count: 2;
	-webkit-column-gap: 0px;
	-moz-column-count: 2;
	-moz-column-gap: 0px;
	column-count: 2;
	column-gap: 0px;
}

.bio img {
	width: 100%;
	margin: auto;
}

.bio h1, .contact h1 {
	color: #1C1C1C;
	font-weight: 800;
	padding-top: 1.75em;
	padding-bottom: .5em;
	font-size: .85em;
}

.bio p, .contact p {
	color: #1C1C1C;
	margin: auto;
	font-size: .8em;
	line-height: 1.5em;
	padding: 0em 1em;
}

.location {
	padding-bottom: 1.5em;
}

.info {
	text-align: center;
	padding-top: 1em;
}

.contact {
	text-align: center;
	letter-spacing: 1px;
	background-color: #1C1C1C;
	padding: .5em 0 2em;
	color: white;
	margin: 2em 4em;
}

/*-------------------------FOOTER SECTION-------------------------*/

.footer-social {
	text-align: center;
	padding: 8em 0 2.5em;
}
.footer-social img {
	opacity: 1;
	padding: .75em 0 .5em;
}

.footer-social img:hover {
	opacity: .5;
	transition: opacity 500ms ease-in;
	-moz-transition: opacity 500ms ease-in;
	-webkit-transition: opacity 500ms ease-in;
	-ms-transition: opacity 500ms ease-in;
	-o-transition: opacity 500ms ease-in;
}

.footer-social h1 {
	padding: .75em 0;
	font-weight: 100;
	font-style: italic;
	font-size: 1.5em;
}

.footer-social h4 {
	font-size: 1em;
	padding: .25em 0;
	font-weight: 300;
}

.footer-social h5 {
	font-size: .9em;
	font-weight: 300;
}

.footer-social p {
	font-size: .85em;
	background-color: rgba(255,255,255,0);
	color: #1C1C1C;
	letter-spacing: 1px;
	font-weight: 500;
}

/*-------------------------SOCIAL LINKS SECTION-------------------------*/

.social {
	width: 100%;
}

.social li {
	display: inline-block;
}

.social li a,
.social li a:link,
.social li a:visited {
	display: inline-block;
	width: 20px;
}

.social li a:hover,
.social li a:active,
.social li a:focus {
	color: #1C1C1C;
	opacity: 50%;
	transition: color 500ms ease-in;
	-webkit-transition: color 500ms ease-in;
	-moz-transition: color 500ms ease-in;
	-webkit-transition: color 500ms ease-in;
	-o-transition: color 500ms ease-in;
}

/*-------------------------GRID-------------------------*/

.grid {
	overflow: hidden;
}

.unit {
	float: left;
}

.unit-s-1 {
	width: 100%;
}

@media only screen and (min-width: 50em) {
	.work li{
		text-align: center;
		padding: 0em 2em 4em;
	}
	.logo img {
		padding-right: 6em;
	}
	#menuToggle {
		left: 47px;
	}
	.nav a:hover {
		margin: 0em 0em 0em .75em;
	}
	.bio {
		padding: 8em 3.5em 8em;
	}
	#nav li {
		margin: 0 0 0 .87em;
	}
	.portfolio {
		padding: 9em 1.5em 0em;
	}
	#nav {
	padding-top: 180px;
	}
	.footer-social p {
		text-align: left;
		padding-left: 5.6em;
		font-size: .95em;
	}
	.social {
		text-align: left;
		padding-left: 5.3em;
	}
}
@media only screen and (min-width: 70em) {
	.bio {
		padding: 15em 10em 10em;
	}
	.bio img {
		max-width: 600px;
		float: right;
	}
	.bio h1, .bio p {
		padding-left: 2em;
	}
	.info {
		text-align: left;
	}
}

@media (max-width: 4500px) {
  .portfolio, .bio {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}

@media (max-width: 800px) {
  .portfolio {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}
	
@media (max-width: 1120px) {
  .bio {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}





